
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDE files
/.project
/.pydevproject
/*.iml
/.idea

# Environments
.env
.venv
env/
venv/
/.settings/	

# Releases
/plugin.video*.zip
