<settings>
	 <category label="Allgemein">
	   <setting id="forceView" type="bool" label="Forciere Menu Views" default="true"/>
	   <setting id="viewIDShows" type="number" label="ViewID für Show Liste" default="504"/>  
	   <setting id="numberOfShowsPerPage" type="number" label="Abzahl Episodes pro Seite anzeigen" default="10"/>
	</category>
</settings>